*
{
    margin: 0;
    padding: 0;
}

body
{
    width: 1920px;
}

.header
{     
    width: 1680px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin-left: 120px;
    margin-top: 29px;
}

.header__logotype
{
    width: 203px;
}

.header__menu
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 562px;
    margin-top: 2px;
    width: 469px;
}

.menu__link
{
    font: normal 500 16px/20px 'Montserrat';
}

.header__button
{
    width: 247px;
}

.button
{
    color: #fff;
    padding: 17px 0;
    border-radius: 4.6px;
    background-color: #05090C;
    font: normal 600 16px 'Montserrat';
}

.main
{
    width: 1580px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 178px;
}

.main__blurb
{
    margin-bottom: 143px;
}

.blurb
{
    width: 745px;
}

.blurb__title
{
    font: normal 600 100px 'Montserrat';
    margin-bottom: 0px;
}

.span-color
{
    color: #ee58b6;
}

.blurb__subtitle
{
    color: #4c4c4c;
    margin-top: 20px;
    width: 545px;
    font: normal 400 26px 'Roboto Condensed';
}

.blurb__button
{
    width: 332px;
    position: relative;
    top: 44px;
}

.blurb__image
{
    position: relative;
    bottom: 24px;
}

.subentry
{
    width: 1136px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 353px;
}

.blog
{
    width: 574px;
}

.subentry__blog
{
    margin-top: 106px;
}

.subentry__image
{
    margin-left: 103px;
    position: relative;
    right: 52px;
    bottom: 2px;
}

.subentry-reverse
{
    width: 1136px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-left: 353px;
    margin-top: 73px;
}

.subentry-reverse__blog
{
    position: relative;
    right: 24px;
    bottom: 3px;
}

.subentry-reverse__image
{
    margin-left: 55px;
    margin-top: 3px;
}

.subtitle_text
{
    color: #4c4c4c;
    font: normal 400 18px/135% 'Roboto Condensed';
}

.title_text
{
    color:#000;
    font: normal 500 48px/126.06% 'Montserrat';
}

.blog__title
{
    margin-bottom: 26px;
}

.blog__subtitle
{
    width: 574px;
}

.row
{
    position: relative;
    bottom: 74px; 
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 126px 0px;
    background: #000;
}

.row__panel
{
    width: 1138px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row__column
{
    width: 285px;
    height: 145px;
    position: relative;
}

.column_left
{
    right: 8px;
    bottom: 11px;
}
 
.column_middle
{
    right: 25px;
    bottom: 20px;
}
 
.column_right
{
    right: 29px;
    bottom: 20px;
}
 
.column__text
{
    height: 52px;
    font: normal 400 22px 'Roboto Condensed';
    color: #fff;
    margin-top: 20px;
    text-align: center;
}

.text_short
{
    width: 303px;
}

.text_long
{
    width: 337px;
}

.column__image
{    
    margin-left: 117px;
}

.image_left
{
    position: relative;
    left: 9px;
}

.image_middle
{
    position: relative;
    left: 20px;
    top: 4px;
}

.image_right
{
    position: relative;
    left: 21px;
    top: 3px;
}

.info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 132px 392px 0px;
    width: 1135px;
}

.info__title
{
    width: 553px;
    margin-bottom: 58px;
}

.info__row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    left: 1px;
    width: 1135px;
}

.row__block
{
    margin-bottom: 27px;
}

.block
{
    width: 358px;
    padding: 48px 0px;
    background: #000000;
    border-radius: 7.35723px;
}

.block__image
{
    /* margin: 33px 39px 0px; */
    position: relative;
    left: 39px;
    bottom: 14px;
}

.block__text
{
    color: #fff;
    position: relative;
    top: 2px;
    font: normal 400 18px 'Roboto Condensed';
} 

.block__text_short
{
    width: 240px;
    left: 39px;
}

.block__text_long
{
    width: 260px;
    left: 40px;
}

.block__text_shorter
{
    width: 210px;
    left: 40px;
}

.block__text_longer
{
    width: 290px;
    left: 38px;
}

.footer 
{
    text-align: center;
    width: 1920px;
    padding: 30px 0px;
    margin-top: 260px;
    background: #000;
}

.footer__logotype
{
    width: 167px;
}