*
{
    margin: 0;
    padding: 0;
}

body
{
    width: 1920px;
}

.header
{   
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin-left: 120px;
    margin-top: 29px;
}

.header__menu
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 221px;
    top: 2px;
    width: 469px;
}

.header__link
{
    font: normal 500 16px/20px 'Montserrat';
}

.header__button
{
    width: 247px;
    position: relative;
    right: 120px;
    top: 1px;
}

.button
{
    color: #fff;
    height: 55px;
    border-radius: 4.6px;
    background-color: #05090C;
    font: normal 600 16px 'Montserrat';
}

.main
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 178px;
}

.main__info
{
    position: relative;
    bottom: 71px;
}

.main__title
{
    font: normal 600 100px 'Montserrat';
    margin-bottom: 0px;
}

.extra
{
    color: #ee58b6;
}

.main__subtitle
{
    color: #4c4c4c;
    margin-top: 20px;
    width: 545px;
    height: 62px;
    font: normal 400 26px 'Roboto Condensed';
}

.main__button
{
    width: 332px;
    position: relative;
    top: 47px;
}

.main__image
{
    float: right;
    margin-right: 163px;
    position: relative;
    bottom: 23px;;  
}

.subentry
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subentry__image:nth-child(1)
{
    position: relative;
    right: 39px;
}

.subentry__image:nth-child(2)
{
    position: relative;
    right: 11px;
    top: 77px;
}

.subentry__info:nth-child(1)
{
    position: relative;
    right: 91px;
    top: 85px;
}

.subentry__info:nth-child(2)
{
    position: relative;
    left: 13px;
    top: 55px;
}

.subtitle_text
{
    font: normal 400 18px/135% 'Roboto Condensed';
    color: #4c4c4c;
}

.title_text
{
    font: normal 500 48px/126.06% 'Montserrat';
    color:#000;
}

.subentry__title
{
    margin-bottom: 26px;
}

.subentry__subtitle
{
    width: 574px;
    height: 48px;
}

.row
{
    position: relative;
    bottom: 73px;
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 126px 0px;
    background: #000;
}

.row__panel
{
    width: 1138px;
    height: 145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row__column
{
    width: 285px;
    height: 145px;
}

.column_left
{
    position: relative;
    right: 8px;
    bottom: 10px;
}
 
.column_middle
{
    position: relative;
    right: 25px;
    bottom: 19px;
}
 
.column_right
{
    position: relative;
    right: 29px;
    bottom: 18px;
}
 
.column__text
{
    height: 52px;
    font: normal 400 22px 'Roboto Condensed';
    color: #fff;
    margin-top: 20px;
    text-align: center;
}

.text_short
{
    width: 303px;
}

.text_long
{
    width: 337px;
}

.column__image
{    
    margin-left: 117px;
}

.image_left
{
    position: relative;
    left: 9px;
}

.image_middle
{
    position: relative;
    left: 20px;
    top: 4px;
}

.image_right
{
    position: relative;
    left: 21px;
    top: 3px;
}

.info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 211px 392px 0px;
    width: 1135px;
}

.info__title
{
    width: 553px;
    margin-bottom: 58px;
}

.info__row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    left: 1px;
    width: 1135px;
}

.row__block
{
    width: 358px;
    height: 190px;
    margin-bottom: 30px;
    background: #000000;
    border-radius: 7.35723px;
}

.block__image
{
    margin: 33px 39px 0px;
}

.block__text
{
    color: #fff;
    height: 51px;
    margin-left: 39px;
    margin-top: 16px;
    font: normal 400 18px 'Roboto Condensed';
} 

.block__text_short
{
    width: 240px;
}

.block__text_long
{
    width: 260px;
}

.block__text_shorter
{
    width: 210px;
}

.block__text_longer
{
    width: 290px;
}

.footer 
{
    text-align: center;
    width: 1920px;
    height: 108px;
    margin-top: 259px;
    background: #000;
}

.footer__logotype
{
    margin-top: 30px;
}