*
{
    margin: 0;
    padding: 0;
}

body
{
    /* width: 100%; */
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header
{     
    max-width: 1680px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin-left: 16px;
    margin-top: 29px;
}

.header__logotype
{
    max-width: 100%;
}

.header__menu
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* position: relative;
    top: 1px;
    right: 1px; */
}

.menu
{
    max-width: 820px;
    width: 100%
}

.menu__link
{
    font: normal 500 16px/20px 'Montserrat';
    position: relative;
    top: 1px;
}

.link-about
{
    left: 5px;
}

.link-question
{
    right: 1px;
}

.link-author
{
    right: 6px;
}

.header__button
{
    max-width: 247px;
}

.button
{
    width: 100%;
    color: #fff;
    padding: 17px 0;
    border-radius: 4.6px;
    background-color: #05090C;
    font: normal 600 16px 'Montserrat';
}

.main
{
    max-width: 1580px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__blurb
{
    margin-bottom: 143px;
}

.blurb
{
    max-width: 745px;
    width: 100%;
}

.blurb__title
{
    font: normal 600 100px 'Montserrat';
}

.span-color
{
    color: #ee58b6;
}

.blurb__subtitle
{
    color: #4c4c4c;
    margin-top: 20px;
    max-width: 545px;
    width: 100%;
    font: normal 400 26px 'Roboto Condensed';
}

.blurb__button
{
    max-width: 332px;
    position: relative;
    top: 44px;
}

.blurb__image
{
    max-width: 849px;
    position: relative;
    bottom: 24px;
    left: 33px;
}

.subentry
{
    max-width: 1136px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog
{
    max-width: 574px;
    width: 100%;
}

.subentry__blog
{
    position: relative;
    top: 53px;
    left: 10px;
}

.subentry__image
{
    max-width: 100%;
    position: relative;
    right: 18px;
    bottom: 2px;
}

.subentry-reverse
{
    max-width: 1136px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 73px;
}

.subentry-reverse__blog
{
    position: relative;
    left: 9px;
    bottom: 1px;
}

.subentry-reverse__image
{
    max-width: 100%;
    position: relative;
    right: 93px;
    top: 3px;
}

.subtitle_text
{
    color: #4c4c4c;
    font: normal 400 18px/135% 'Roboto Condensed';
}

.title_text
{
    color:#000;
    font: normal 500 48px/126.06% 'Montserrat';
}

.blog__title
{
    margin-bottom: 26px;
}

.blog__subtitle
{
    max-width: 574px;
    width: 150%;
}

.row
{
    max-width: 1920px;
    width: 100%;
    position: relative;
    bottom: 74px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 126px 0px;
    background: #000;
}

.row__panel
{
    margin-left: 15px;
    max-width: 1138px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row__column
{
    width: 285px;
    min-height: 145px;
    position: relative;
}

.column_left
{
    right: 8px;
    bottom: 11px;
}
 
.column_middle
{
    right: 25px;
    bottom: 20px;
}
 
.column_right
{
    right: 29px;
    bottom: 20px;
}
 
.column__text
{
    /* height: 52px; */
    font: normal 400 22px/1.2 'Roboto Condensed';
    color: #fff;
    margin-top: 20px;
    text-align: center;
}

.text_short
{
    width: 303px;
}

.text_long
{
    width: 337px;
}

.column__image
{    
    max-width: 100%;
    margin-left: 117px;
}

.image_left
{
    position: relative;
    left: 9px;
}

.image_middle
{
    position: relative;
    left: 20px;
    top: 4px;
}

.image_right
{
    position: relative;
    left: 21px;
    top: 3px;
}

.info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 136px;
    margin-left: 16px;
    max-width: 1135px;
    width: 100%;
}

.info__title
{
    margin-bottom: 58px;
}

.info__row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    left: 1px;
    max-width: 1135px;
    width: 100%;
}

.row__block
{
    margin-bottom: 27px;
}

.block
{
    width: 358px;
    padding: 48px 0px;
    background: #000000;
    border-radius: 7.35723px;
}

.block__image
{
    max-width: 100%;
    position: relative;
    left: 39px;
    bottom: 14px;
}

.block__text
{
    color: #fff;
    position: relative;
    top: 2px;
    font: normal 400 18px 'Roboto Condensed';
} 

.block__text_short
{
    width: 240px;
    left: 39px;
}

.block__text_long
{
    width: 260px;
    left: 40px;
}

.block__text_shorter
{
    width: 210px;
    left: 40px;
}

.block__text_longer
{
    width: 290px;
    left: 38px;
}

.footer 
{
    max-width: 1920px;
    text-align: center;
    width: 100%;
    margin-top: 260px;
    background: #000;
}

.footer__logotype
{
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 17px;
}
 
/* @media screen and (max-width: 1768px) 
{
    .header
    {
        margin-left: 30px;
        margin-right: 30px;
    }

    .main
    {
        margin-left: 0px;
    }
    
    .subentry,
    .subentry-reverse
    {
        margin-left: 250px;
    }

    .info
    {
        margin-left: 200px;
    }
} */

@media screen and (max-width: 1600px)
{
    .header__menu
    {
        margin-right: 66px;
    }
    
    .header__logotype
    {
        margin-left: 33px;
    }
    .main
    {
        flex-direction: column;
        text-align: center;
    }
    
    .main__blurb
    {
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}  

@media screen and (max-width: 1200px) 
{
    .header,
    .header__menu
    {
        margin-left: 0px;
        margin-right: 0px;
    }

    .header__button
    {
        margin-right: 23px;
    }
    
    .row__panel
    {
        margin: 0px 50px;
    }

    .subentry__blog
    {
        margin-right: 20px;
    }

    .blog__subtitle
    {
        width: 100%;
    }
    .subentry,
    .subentry-reverse
    {
        margin-left: 20px;
    }

    .info__row
    {
        justify-content: center;
    }
    
    .block
    {
        margin-right: 30px;
    }

    .footer
    {
        margin-top: 160px;
    }
}

@media screen and (max-width: 1024px)
{
    .header
    {
        flex-direction: column;
        /* margin-left: 100px; */
        align-items: flex-start;
    }
    
    .menu__link
    {
        /* font-size: 20px; */
    }
    
    .button
    {
        /* padding: 19px 0px;
        font-size: 20px; */
    }

    .blurb__subtitle
    {
        /* font-size: 30; */
    }

    .row
    {
        padding: 35px 0px;
    }

    .row__panel
    {
        flex-direction: column;
        align-items: center;
    }

    .title_text
    {
        /* font-size: 68px; */
    }

    .subtitle_text
    {
        /* font-size: 30px; */
    }

    .block
    {
        /* width: 375px;
        padding: 55px 0px; */
    }

    .block__text
    {
        /* font-size: 20.4px; */
    }

    .block__text_long,
    .block__text_longer,
    .block__text_short,
    .block__text_shorter
    {
        /* width: 320px; */
    }

    .footer
    {
        /* margin-top: 100px; */
    }
@media screen and (max-width: 700px)
{
    

    .footer__logotype
    {
        margin-top: 35px;
        margin-bottom: 35px;
        width: 21%;
    }
}
}