.header
{   
    margin-left: 120px;
    margin-top: 38px;  
}

.header__link
{
    font: normal 500 16px/20px 'Montserrat';
}

.button
{
    height: 55px;
    border-radius: 4.6px;
    background-color: #05090C;
    color: #fff;
    font: normal 600 16px 'Montserrat';
}

.button_short
{
    width: 247px;
}

.button_long
{
    width: 332px;
}

.main
{
    margin-left: 120px;
    margin-top: 38px;  
}

.main__header
{
    font: normal 600 100px 'Montserrat';
    margin-bottom: 0px;
}

.extra
{
    color: #ee58b6;
}

.main-header__text
{
    margin-top: 20px;
    width: 545px;
    height: 62px;
    font: normal 400 26px 'Roboto Condensed';
    color: #4c4c4c;
}

.title_font
{
    font: normal 500 48px/126.06% 'Montserrat';
    color:#000;
}

.subtitle_font
{
    font: normal 400 18px/135% 'Roboto Condensed';
    color: #4c4c4c;
}

.absense-time__title
{    
    margin-bottom: 25px;
}

.subentry__title
{
    margin-bottom: 25px;
}

.subentry__subtitle
{
    width: 574px;
    height: 48px;
}

.row
{
    width: 1920px;
    height: 500px;
    background: #000
}

.row__column
{
    width: 285px;
    height: 60px;
}

.column__text
{
    height: 52px;
    font: normal 400 22px 'Roboto Condensed';
    color: #fff;
    margin-top: 0px ;
}

.text_short
{
    width: 303px;
}

.text_long
{
    width: 337px;
}

.column__image
{    
    margin-left: 117px;
}

.course__title
{
    width: 553px;
}

.block
{
    width: 358px;
    height: 190px;
    margin: 20px 0px;
    background: #000000;
    border-radius: 7.35723px;
}

.block__image
{
    margin: 32px 39px -1px;
}

.block__text
{
    height: 51px;
    margin-left: 40px;
    font: normal 400 18px 'Roboto Condensed';
    color: #fff;
} 

.block__text_short
{
    width: 240px;
}

.block__text_long
{
    width: 260px;
}

.block__text_shorter
{
    width: 210px;
}

.block__text_longer
{
    width: 290px;
}

.footer 
{
    text-align: center;
    width: 1920px;
    height: 108px;
    background: #000;
}

.footer__logotype
{
    margin-top: 30px;
}